&.admin--management--list {
    .control {
        .new {
            width: 60%;
            margin-bottom: 0;
        }

        select {
            display: none;
        }
    }

    article.list {
        padding: 1rem 0;

        input[type='checkbox'] {
            @include customCheckbox(#f2f2f2);
        }

        .head,
        .body {
            ul {
                display: flex;
                flex-wrap: wrap;
                background-color: #778ca3;
                color: #f2f2f2;
                border-radius: 0.25rem 0.25rem 0 0;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 0;
                }

                li:first-child {
                    width: 10%;
                    // flex: 1;
                    order: 1;
                }

                li:nth-child(2) {
                    width: 20%;
                    // flex: 2;
                    order: 2;
                }

                li:nth-child(3) {
                    width: 35%;
                    order: 3;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                }

                li:nth-child(4) {
                    flex: 1;
                    order: 5;
                }

                li:nth-child(5) {
                    flex: 1;
                    order: 6;
                }

                li:last-child {
                    width: 35%;
                    // flex: 4;
                    order: 4;
                }

                @media (min-width: $tablet) {
                    & {
                        li {
                            padding: 1rem 0;
                        }

                        li:first-child {
                            flex: 1;
                            order: 1;
                        }

                        li:nth-child(2) {
                            flex: 2;
                            order: 2;
                        }

                        li:nth-child(3) {
                            flex: 3;
                            order: 3;
                        }

                        li:nth-child(4) {
                            flex: 4;
                            order: 4;
                        }

                        li:nth-child(5) {
                            flex: 4;
                            order: 4;
                        }

                        li:last-child {
                            flex: 2;
                            order: 5;
                        }
                    }
                }
            }
        }

        .body {
            ul {
                background-color: #fff;
                border-radius: initial;
                color: rgba(0, 0, 0, 0.54);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: rgba(0, 0, 0, 0.64);
                    font-weight: 500;
                    transform: translateY(-1px);
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
                }

                li {
                    input[type='checkbox'] {
                        @include customCheckbox();
                    }

                    img {
                        width: 28px;
                    }
                }
            }
        }

        .footer {
            ul {
                display: flex;
                background-color: #778ca3;
                justify-content: center;
                padding: 0.57rem 0;
                border-radius: 0 0 0.25rem 0.25rem;

                li {
                    padding: 0.5rem;
                    cursor: pointer;
                    border-radius: 0.25rem;

                    &.active {
                        background-color: #f2f2f2;
                    }

                    &:hover {
                        animation: pagehover 0.7s alternate infinite;

                        @keyframes pagehover {
                            from {
                                background-color: rgba(255, 255, 255, 0.1);
                            }

                            to {
                                background-color: rgba(255, 255, 255, 0.3);
                            }
                        }
                    }

                    a {
                        color: #f2f2f2;
                    }

                    &.active>a {
                        color: #778ca3;
                    }
                }
            }
        }
    }
}