@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Oswald:500,700');


body {
    font: {
        size: 16px;
        family: 'Noto Sans KR', 'Roboto', 'Oswald', sans-serif;
    }
}