.login {
    height: 94vh;

    .container {
        width: 100%;
        @include centered();
        transform: translate(-50%, -100%);
        display: flex;
        justify-content: center;
    }

    .login-wrap {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 1.5rem;
        }

        label:nth-child(1) {
            .input {
                margin-left: 1.42rem;
            }
        }

        label:nth-child(2) {
            .input {
                margin-left: .5rem;
            }
        }

        input[type="submit"] {
            background-color: rgb(44, 44, 44);
            color: rgba(255, 255, 255, .87);
            height: 2.3rem;
            font-size: 16px;
            padding: 0;
            border: none;
            cursor: pointer;
        }
    }
}