article.resource.active
    hgroup.trigger
        h3.title Resources
        .plus
        .line
    ul.box
        li
            a(href="" target="_blank")
                figure
                    img(src="https://icongr.am/feather/download.svg?size=20&color=000000", alt="")
                    figcaption 텔레그램 TON 백서
        li
            a(href="" target="_blank")
                figure
                    img(src="https://icongr.am/feather/download.svg?size=20&color=000000", alt="")
                    figcaption 텔레그램 스테이지 A 프라이머
        li
            a(href="" target="_blank")
                figure
                    img(src="https://icongr.am/feather/download.svg?size=20&color=000000", alt="")
                    figcaption 电报 第一阶段, 入门书

        