extends ../_layout

block main
    section.login
        .container
            form(action="" method="post").login-wrap
                label(for="id") 아이디
                    input(id="id" type="text" class="input")
                label(for="password") 비밀번호
                    input(id="password" type="password" class="input")
                input(type="submit" value="로그인")