extends ../_layout

block main
    section.result
        article.total
            .wrap
                | 검색어 
                span Telegram
                | 에 대한 전체 
                br
                span 999
                | 개의 결과를 찾았습니다.
        article.part
            .wrap
                .block-sum 블록체인 <br /><span>[999]</span>
                .project-sum 프로젝트 <br /><span>[999]</span>
                .twitter-sum 트위터 <br /><span>[999]</span>
        article.news
            .wrap
                .pocket.block-area
                    .name 
                        span 블록체인 뉴스
                        img(src="/static/svg/icon/plus.svg")
                    //- - for(var i = 0; i < 2; i++)
                    //-     .card
                    //-         .head
                    //-             .title 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다. 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다.
                    //-             .date 2018.11.20
                    //-         .body
                    //-             | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                    //-             | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다. 
                    //-             | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                    //-             | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다.
                    .no-search 검색 결과가 없습니다.
                .pocket.project-area
                    .name 
                        span 프로젝트 소식
                        img(src="/static/svg/icon/plus.svg")
                    - for(var i = 0; i < 2; i++)
                        .card
                            .head
                                .title 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다. 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다.
                                .date 2018.11.20
                            .body
                                | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                                | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다. 
                                | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                                | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다.
                .pocket.twitter-area
                    .name 
                        span 트위터
                        img(src="/static/svg/icon/plus.svg")
                    - for(var i = 0; i < 2; i++)
                        .card
                            .head
                                .title 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다. 결과 페이지, 결과물 영역의 제목 부분에 제목을 작성하고 있습니다.
                                .date 2018.11.20
                            .body
                                | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                                | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다. 
                                | 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보존하세. 
                                | 나는 자랑스런 태극기 앞에 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 받쳐 충성을 다할 것을 굳게 다짐합니다.         
                        
