/*
.draft {
    position: sticky;
    top: 3.56rem;
    height: 3rem;
    z-index: 1;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    @media (min-width: $mobile) {
        & {
            top: 4rem;
            height: 3.5rem;
        }
    }

    // @media (min-width: $tablet) {
    //     & {}
    // }

    &>span {
        height: fit-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu--mobile {
        display: flex;
        align-items: center;
        opacity: 0.5;
        transition: 0.5s;
        cursor: pointer;

        &.on {
            opacity: 1;
        }

        img {
            opacity: 0.7;
            transition: 0.5s;

            &.on {
                transform: rotate(180deg);
            }
        }
    }

    // @media (min-width: $desktop) {
    //     .menu--mobile {
    //         display: none;
    //     }
    // }

    .menu--mobile-box {
        position: absolute;
        z-index: 1;
        width: 100vw !important;
        // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        padding: {
            top: 1rem;
            bottom: 1.8rem;
            left: 0;
            right: 0;
        }

        margin: {
            top: 3rem;
            left: -1rem;
        }

        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.5s;

        // &>* {
        //     -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        // }

        &.on {
            transform: scaleY(1);
        }

        @media (min-width: $mobile) {
            & {
                margin-left: -1.5rem;
                margin-top: 3.5rem;
            }
        }

        @media (min-width: $tablet) {
            & {
                margin-left: -1.8rem;
            }
        }

        @media (min-width: $desktop) {
            & {
                max-width: 972px !important;
                margin-left: 0;
            }
        }

        .items {
            width: 50%;
            @include flexCentered();
            justify-content: start;
            padding: 0.7rem 0;
            box-sizing: border-box;
            cursor: pointer;

            @media (min-width: $mobile) {
                & {
                    width: 33.333%;
                }
            }

            @media (min-width: $desktop) {
                & {
                    width: 25%;
                }
            }

            .img-wrap {
                width: 25%;

                @media (min-width: $tablet) {
                    & {
                        width: 30%;
                    }
                }

                @media (min-width: $desktop) {
                    & {
                        width: 35%;
                    }
                }

                img {
                    width: 1.3125rem;
                    float: right;

                    @media (min-width: $mobile) {
                        & {
                            width: 1.5rem;
                        }
                    }
                }
            }

            .text-wrap {
                width: 75%;
                padding-left: 1rem;
                box-sizing: border-box;
                font-size: 0.88rem;

                @media (min-width: $mobile) {
                    & {
                        font-size: 1rem;
                    }
                }

                @media (min-width: $tablet) {
                    & {
                        width: 70%;
                    }
                }

                @media (min-width: $desktop) {
                    & {
                        width: 65%;
                    }
                }

            }
        }

        // @media (min-width: $desktop) {
        //     & {
        //         display: none;
        //     }
        // }
    }
}
*/