header
    .container
        .logo-wrap
            a(href="/index.html")
                img.logo(src="/assets/images/svg/koinvestor_logo.svg" alt="")
        .admin-icons
            //- a Tag는 라우트를 위해 개발시에만 사용
            a(href="/html/project/list.html")
                img(src="/assets/images/svg/icon/user.svg" alt="")
                img(src="/assets/images/svg/icon/log-out.svg" alt="")
        .menu
            span 프로젝트 선택
            img(src="/assets/images/svg/icon/chevron-down.svg" alt="")
        .menu-box
            .items
                .img-wrap
                    img(src='/assets/images/svg/icon/box.svg', style='opacity: .5;' alt="")
                .text-wrap
                    spna 전체보기 
            -
                var double = [{name: '앰브로서스', project: 'ambrosus', symbol:'AMB'},
                            {name: '페이파이', project: 'paypie', symbol:'PPP'},
                            {name: '플레이키', project: 'playkey', symbol:'PKY'},
                            {name: '리퀴드', project: 'liquid', symbol:'QASH'},
                            {name: '와인딩트리', project: 'windingtree', symbol:'LIF'},
                            {name: '텔레그램', project: 'telegram', symbol:'GRAM'},]
            each e in double
                .items
                    .img-wrap
                        img(src=`/assets/images/image/project/${e.project}.png` alt="")
                    .text-wrap
                        a(href="/html/project.html")
                            span= e.name + '(' + e.symbol + ')'
        .search-box
            label(for="search-input")
                img.search-icon(src="/assets/images/svg/icon/search.svg" alt="")
        form.search-txt
            input(type="text" id="search-input" placeholder="Search")
            img.search-close(src="/assets/images/svg/icon/x.svg" alt="")

        //- .search-box
            input#header-search.txt(type="text" placeholder="search")
            label(for="header-search")
                img.search-icon(src="/assets/images/svg/icon/search.svg")