nav.admin--menu
        ul
            //- li.active 프로젝트
            //- - var menu = ['블록체인', '트위터', '회원관리', '프로젝트 관리']
            //- each i in menu
            //-     li= i
            li.active
                a(href="/html/project/list.html") 프로젝트
            -
                var menu = [
                    //- {
                    //-     name: '블록체인',
                    //-     path: '../blockchain/list.html',
                    //- },
                    //- {
                    //-     name: '트위터',
                    //-     path: '../twitter/list.html',
                    //- },
                    {
                        name: '회원관리',
                        path: '/html/member/list.html',
                    },
                    {
                        name: '프로젝트 관리',
                        path: '/html/management/list.html',
                    },
                    {
                        name: '메인 관리',
                        path: '/html/headline/list.html',
                    },
                ]
            each i in menu
                li
                    a(href=`${i.path}`)= i.name